body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

pre {
    max-width: 600px;
    margin: 20px auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
}

a#menu { 
    color: #007bff; 
    text-decoration: underline;
    display: inline; 
    cursor: pointer;
}

a#menu:hover {
    color: #0056b3; 
    text-decoration: none;
}

#btn svg {
    display: inline !important;
}

.table-auto tr td {
    border-color: #45a049;
    border-radius: 0.2rem
}

input #dna-coding{
    height:500px;
    width:500px;
    word-break: break-word;
    border-color: #45a049;
    border-radius: 0.2rem
}